h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  } 
  h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .colorFondo {
    background-color: rgb(222, 192, 255);
  }
  .logo {
    height: 40px;
    margin-right: 10px;
  }




  