/* Estilos generales */
body {
    background-color: #ffffff; /* Cambiamos el color de fondo a gris */
    color: #212529; /* Color del texto principal */
  }

  main {
    width: 100%;
    max-width: 600px; /* Ajusta este valor según tus necesidades */
    margin: 0 auto; /* Esto centra el contenido horizontalmente */
    text-align: center; /* Esto centra el contenido dentro del main */
}

.compact-form .form-group.row.mb-2 {
    margin-bottom: 0.5rem; /* Reduce el espacio entre cada fila */
}

.compact-form .form-control {
    padding: 0.25rem 0.5rem; /* Ajusta el tamaño de los campos de texto */
    font-size: 0.9rem; /* Ajusta el tamaño del texto */
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white; /* Cambia el color de fondo según tu diseño */
    z-index: 1000; /* Asegúrate de que el encabezado esté por encima del contenido */
}


  