body {
    margin: 0;
    padding: 0;
    align-items: left;
    padding-bottom: 30px;
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}

.boton[type="submit"] {
    color: #fff;
    border: none;
    background-color: #4c5eaf;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.boton[type="reset"] {
    color: #fff;
    border: none;
    background-color: #4c56af;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 8px 0;
    box-sizing: border-box;
}
.logo {
    height: 40px;
    margin-right: 10px;
}

.cls_mantenedor {
    margin-left: 70px;
}
